*~
alignment/spacepoints
alignment/Hunt/
alignment/circle.png
ckov/ckov
ckov/ckov.log
ckov/ckov.root
ckov/electron.png
ckov/files
ckov/geo-10421/
ckov/npe.png
ckov/output.txt
ckov/plot.png
ckov/scatter.png
ckov/tof0.png
virtual/MC/
virtual/count_virtual
virtual/mc_3mm200_07469_MAUS-trunk_magic_p4-v10-corr_minus2-diffuserVP.root
virtual/radius.pdf
virtual/radius.png
virtual/virtual
